.masonry-with-columns {
  display: flex;
  flex-wrap: wrap;

  div {
    height: 125px;
    line-height: 125px;
    background: gray;
    color: whitesmoke;
    margin: 0 1rem 1rem 0;
    text-align: center;
    font-weight: 900;
    font-size: 1rem;
    flex: 1 0 auto;
  }

  @for $i from 1 through 36 {
    div:nth-child(#{$i}) {
      $h: (random(400) + 70) + px;
      width: $h;
      max-width: 100vw;
      min-width: 200px;

      @media screen and (max-width: 800px) {
        width: 100%;
        max-width: 100vw;
        min-width: 100%;
        margin: 1rem 0;
      }
    }
  }
}
