<div class="w-11/12 md:w-4/5 m-auto max-w-7xl mt-4">
  <div class="my-4">
    <p-button
      routerLink="create"
      [label]="'adminCreditCards.create' | translate"
      icon="pi pi-plus"
    ></p-button>
  </div>

  <petar-cv-base-table
    [value]="creditCards$"
    [rows]="perPage"
    [totalRecords]="totalItems"
    (onLazyLoad)="onLazyLoad($event)"
    [loading]="loading"
    [tableHeaders]="tableHeaders"
    [tableRows]="tableRows"
    [globalSearch]="true"
    [filterDelay]="400"
  >
  </petar-cv-base-table>
</div>
