<p-card
  *ngIf="creditCard"
  [header]="creditCard.name"
  [subheader]="creditCard?.issuer?.name ?? ''"
  class="max-w-xs"
  styleClass="p-card-shadow  hover:shadow-2xl hover:bg-gray-50 transition-all duration-300 h-full"
>
  <ng-template pTemplate="header">
    <img
      class="max-h-40 pb-4 pt-8 object-contain"
      [alt]="creditCard?.issuer?.name ?? ''"
      [src]="creditCard?.issuer?.logo ?? ''"
    />
    <!-- TODO: Implement default picture in case of an error -->
  </ng-template>
  <p>
    {{ 'privateCreditCards.fields.billingDate' | translate }} -
    <span class="font-semibold">
      {{ creditCard.billingDate | localizedDate }}
    </span>
  </p>
  <p>
    {{ 'privateCreditCards.fields.limit' | translate }} -
    <span class="font-semibold">
      {{ creditCard.limit }}
      <!-- TODO: Implement custom currency pipe which takes user settings into account -->
    </span>
  </p>
  <ng-template pTemplate="footer">
    <p-button
      [label]="'commonActions.details' | translate"
      icon="pi pi-credit-card"
      iconPos="right"
      [routerLink]="routerLink"
    ></p-button>
  </ng-template>
</p-card>
