<div class="admin-form-wrapper">
  <petar-cv-base-back-button></petar-cv-base-back-button>

  <form
    *ngIf="creditCardItemForm"
    [formGroup]="creditCardItemForm"
    class="shadow-lg p-4 flex flex-col"
  >
    <!-- Fields -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 mb-6">
      <div>
        <label for="userId" class="block">
          {{ 'adminCreditCardItems.fields.userId' | translate }} *
        </label>
        <input
          class="w-full"
          id="userId"
          pInputText
          formControlName="userId"
          aria-describedby="userId-help"
          [placeholder]="'adminCreditCardItems.fields.userId' | translate"
        />
        <small
          id="userId-help"
          class="block"
          [class.p-error]="
            creditCardItemForm.controls.userId?.hasError('required') &&
            creditCardItemForm.controls.userId?.touched
          "
          class="block"
        >
          {{ 'commonFields.validators.required' | translate }}
        </small>
      </div>

      <div>
        <label for="cardId" class="block">
          {{ 'adminCreditCardItems.fields.cardId' | translate }} *
        </label>
        <input
          class="w-full"
          id="cardId"
          pInputText
          formControlName="cardId"
          aria-describedby="cardId-help"
          [placeholder]="'adminCreditCardItems.fields.cardId' | translate"
        />
        <small
          id="cardId-help"
          class="block"
          [class.p-error]="
            creditCardItemForm.controls.cardId.hasError('required') &&
            creditCardItemForm.controls.cardId.touched
          "
          class="block"
        >
          {{ 'commonFields.validators.required' | translate }}
        </small>
      </div>

      <div>
        <label for="name" class="block">
          {{ 'commonFields.name' | translate }} *
        </label>
        <input
          class="w-full"
          id="name"
          pInputText
          formControlName="name"
          aria-describedby="name-help"
          [placeholder]="'commonFields.name' | translate"
        />
        <small
          id="name-help"
          class="block"
          [class.p-error]="
            creditCardItemForm.controls.name.hasError('required') &&
            creditCardItemForm.controls.name.touched
          "
          class="block"
        >
          {{ 'commonFields.validators.required' | translate }}
        </small>
      </div>

      <div>
        <label for="description" class="block">
          {{ 'commonFields.description' | translate }}
        </label>
        <textarea
          class="w-full"
          id="description"
          rows="1"
          pInputTextarea
          [autoResize]="true"
          formControlName="description"
          [placeholder]="'commonFields.description' | translate"
        ></textarea>
      </div>

      <div>
        <label for="amount" class="block">
          {{ 'adminCreditCardItems.fields.amount' | translate }} *
        </label>
        <p-inputNumber
          class="w-full"
          styleClass="w-full"
          id="amount"
          formControlName="amount"
          aria-describedby="amount-help"
          [min]="0"
          [maxFractionDigits]="2"
          [placeholder]="'adminCreditCardItems.fields.amount' | translate"
        ></p-inputNumber>
        <small
          id="amount-help"
          class="block"
          [class.p-error]="
            creditCardItemForm.controls.amount.hasError('required') &&
            creditCardItemForm.controls.amount.touched
          "
          class="block"
        >
          {{ 'commonFields.validators.required' | translate }}
        </small>
      </div>

      <div>
        <label for="instalments" class="block">
          {{ 'adminCreditCardItems.fields.instalments' | translate }} *
        </label>
        <p-inputNumber
          class="w-full"
          styleClass="w-full"
          id="instalments"
          formControlName="instalments"
          aria-describedby="instalments-help"
          [showButtons]="true"
          [step]="1"
          [min]="1"
          [placeholder]="'adminCreditCardItems.fields.instalments' | translate"
        ></p-inputNumber>
        <small
          id="instalments-help"
          class="block"
          [class.p-error]="
            creditCardItemForm.controls.instalments.hasError('required') &&
            creditCardItemForm.controls.instalments.touched
          "
          class="block"
        >
          {{ 'commonFields.validators.required' | translate }}
        </small>
      </div>

      <div>
        <label for="boughtAt" class="block">
          {{ 'adminCreditCardItems.fields.boughtAt' | translate }} *
        </label>
        <p-calendar
          id="boughtAt"
          styleClass="w-full"
          formControlName="boughtAt"
          aria-describedby="boughtAt-help"
        ></p-calendar>
        <small
          id="boughtAt-help"
          class="block"
          [class.p-error]="
            creditCardItemForm.controls.boughtAt.hasError('required') &&
            creditCardItemForm.controls.boughtAt.touched
          "
          class="block"
        >
          {{ 'commonFields.validators.required' | translate }}
        </small>
      </div>
    </div>

    <!-- Buttons -->
    <div class="space-x-2">
      <p-button
        type="button"
        [label]="'commonActions.submit' | translate"
        (click)="
          !creditCardItemForm.invalid &&
            !creditCardItemForm.pristine &&
            onFormSubmit()
        "
        [disabled]="creditCardItemForm.invalid || creditCardItemForm.pristine"
      ></p-button>
      <p-button
        type="button"
        styleClass="p-button-secondary "
        [label]="'commonActions.submitAndAddNew' | translate"
        (click)="
          !creditCardItemForm.invalid &&
            !creditCardItemForm.pristine &&
            onFormSubmit(true)
        "
        [disabled]="creditCardItemForm.invalid || creditCardItemForm.pristine"
      ></p-button>
    </div>
  </form>
</div>
